<h2>Sign up</h2>
<form class="todoForm" action="/register" method="POST">
  <label for="email">Email: </label>
  <input type="text" name="email" value="">
  <label for="password">Password</label>
  <input type="password" name="password" value="">
  <input type="submit" name="" value="Submit">
</form>
