/* --- --- --- global list styles --- --- --- */
#todoList {
  list-style: none;
}
#todoList li {
  float: left;
}
#main-header {
  text-align: center;
}

/* --- --- --- navigation styles --- --- --- */
#nav-container {
  display: block;
  width: 100%;
  overflow: auto;
}
#nav-bar li {
  display: inline;
  float: left;
  margin-left: 10px;
}

/* --- --- --- individual todo styles --- --- --- */
.finish-button {
  display: inline;
  float: left;
  margin-right: 10px;
}
.delete-button {
  margin-left: 10px;
}

/* --- --- --- completed todo styles --- --- --- */
.completedTodoItem {
  text-decoration: line-through;
}
